# IDE FILES
.idea
*.iml

# GIT FILES
.gitattributes
.gitignore

# CONFIGURATION FILES
*.log
.env.*

# DOCS
*.md
doc
*.drawio

# SYSTEM FILES
htmlReport
nginx-dev

# BUILD & TEST FILES
test
target

# DOCKER
docker-compose.*