spring:
  profiles.active: ${SPRING_ACTIVE_PROFILE:default}
  application:
    name: moviee
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    schemas: cinema
    default-schema: cinema
springdoc:
  swagger-ui:
    enabled: true
    path: /api-docs
---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      jdb:
        time_zone: UTC

  flyway:
    baseline-on-migrate: true

server:
  port: 8080

logging:
  level:
    com.codemages: DEBUG
    org.springframework:
      security: DEBUG
      oauth2: DEBUG
      web: DEBUG

---
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      jdb:
        time_zone: UTC

  flyway:
    baseline-on-migrate: true

server:
  port: 8080

logging:
  level:
    com.codemages: INFO
    org.springframework: WARN
    org.hibernate: ERROR

springdoc:
  swagger-ui:
    enabled: false

